
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/.idea
.env
.env.dist
phpunit.xml.dist


<VirtualHost *:80>
	ServerName aramis.fr.local
	ServerAlias www.aramis.fr.local
	DocumentRoot /home/ev1lvvitch/workspace/page-with-post-mock-up/public
	<Directory /home/ev1lvvitch/workspace/page-with-post-mock-up/public>
		Options FollowSymLinks
         	AllowOverride All
         	Require all granted
	</Directory>
	<FilesMatch \.php$>
		 SetHandler "proxy:unix:/var/run/php/php7.2-fpm.sock|fcgi://localhost/
	</FilesMatch>
	ErrorLog /var/log/apache2/page-with-post-mock-up_error.log
</VirtualHost *:80>