<div>
    <form style="max-width:300px;">
        <h1>contact us u faggot</h1>
        <label>name:</label><br>
        <input placeholder="im a faggot" type="text"><br>
        <label>your email, faggot</label><br>
        <input placeholder="ima@faggot.com" type="text"><br>
        <label>call us u faggot</label><br>
        <input placeholder="500faggot104" type="text"><br>
        <label>contact us u faggot</label><br>
        <input placeholder="im a faggot" type="text"><br>
        <label>Do you want to suck a fat cock?</label><br>
        <input type="checkbox" name="cock" value="yes"> yes<br>
        <input type="checkbox" name="cock" value="YESSS!"> YESSSS!<br>
        <input type="submit" value="Im a faggot">
    </form>
</div>
