{#{% extends 'base.html.twig' %}#}


{% if why is defined %}
    {#{% block menu %}#}
        <div>
            {{ why | raw }}
        </div>
    {#{% endblock %}#}
{% endif %}

{% if contact is defined %}
    {#{% block nav %}#}
        <div>
            {{ contact | raw }}
        </div>
    {#{% endblock %}#}
{% endif %}

