{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div style="height: 500px" class="container-fluid" style=" display:flex; justify-content: center">
            <h1 class="align-middle">
                Now header downnloads footer data and vice versa, controllers are still the same
                <a href="http://www.aramis.local/post/1">post/1</a>
            </h1>
    </div>
{% endblock %}