{% extends 'base.html.twig' %}


{% block body %}
    <div style="display: flex; flex-flow:column">
        <h1>{{ title | markdown}}</h1>
        <div>
            {{ content | markdown}}
        </div>
    </div>
{% endblock %}