{#{% extends 'base.html.twig' %}#}

{#{% block title %}Hello {{ controller_name }}!{% endblock %}#}

{#{% block body %}#}
    <div>
        homepage but this comes form article controller
    </div>
{#{% endblock %}#}
