<div>
    Sorry we couddnt find this article, but maybe those can interest you:
    <ul>
        <li>article</li>
        <li>article</li>
        <li>article</li>
        <li>article</li>
    </ul>
</div>